<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkrent.business.app.base.dao.AppRegionDao">
  <resultMap id="BaseResultMap" type="com.wkrent.common.entity.AppRegion">
    <id column="region_id" jdbcType="VARCHAR" property="regionId" />
    <result column="region_name" jdbcType="VARCHAR" property="regionName" />
    <result column="region_cn_name" jdbcType="VARCHAR" property="regionCnName" />
    <result column="region_code" jdbcType="VARCHAR" property="regionCode" />
    <result column="region_mark" jdbcType="VARCHAR" property="regionMark" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    region_id, region_name, region_cn_name, region_code, region_mark, is_delete, description, 
    create_by, create_time, update_by, update_time, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_region
    where region_id = #{regionId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from app_region
    where region_id = #{regionId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wkrent.common.entity.AppRegion">
    insert into app_region (region_id, region_name, region_cn_name, 
      region_code, region_mark, is_delete, 
      description, create_by, create_time, 
      update_by, update_time, remark
      )
    values (#{regionId,jdbcType=VARCHAR}, #{regionName,jdbcType=VARCHAR}, #{regionCnName,jdbcType=VARCHAR}, 
      #{regionCode,jdbcType=VARCHAR}, #{regionMark,jdbcType=VARCHAR}, #{isDelete,jdbcType=CHAR}, 
      #{description,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wkrent.common.entity.AppRegion">
    insert into app_region
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="regionId != null">
        region_id,
      </if>
      <if test="regionName != null">
        region_name,
      </if>
      <if test="regionCnName != null">
        region_cn_name,
      </if>
      <if test="regionCode != null">
        region_code,
      </if>
      <if test="regionMark != null">
        region_mark,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="regionId != null">
        #{regionId,jdbcType=VARCHAR},
      </if>
      <if test="regionName != null">
        #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="regionCnName != null">
        #{regionCnName,jdbcType=VARCHAR},
      </if>
      <if test="regionCode != null">
        #{regionCode,jdbcType=VARCHAR},
      </if>
      <if test="regionMark != null">
        #{regionMark,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=CHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wkrent.common.entity.AppRegion">
    update app_region
    <set>
      <if test="regionName != null">
        region_name = #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="regionCnName != null">
        region_cn_name = #{regionCnName,jdbcType=VARCHAR},
      </if>
      <if test="regionCode != null">
        region_code = #{regionCode,jdbcType=VARCHAR},
      </if>
      <if test="regionMark != null">
        region_mark = #{regionMark,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where region_id = #{regionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wkrent.common.entity.AppRegion">
    update app_region
    set region_name = #{regionName,jdbcType=VARCHAR},
      region_cn_name = #{regionCnName,jdbcType=VARCHAR},
      region_code = #{regionCode,jdbcType=VARCHAR},
      region_mark = #{regionMark,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=CHAR},
      description = #{description,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where region_id = #{regionId,jdbcType=VARCHAR}
  </update>
  
  <select id="getAllRegionList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_region
    where is_delete = 0 
    <if test="regionInfo != null and regionInfo != ''">
        and (region_name like CONCAT('%',#{regionInfo,jdbcType=VARCHAR},'%') 
        or region_code like CONCAT('%',#{regionInfo,jdbcType=VARCHAR},'%') 
        or region_cn_name like CONCAT('%',#{regionInfo,jdbcType=VARCHAR},'%'))
	</if>
  </select>
  
  <select id="getAllRegionListByCharacter" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_region
    where is_delete = 0 
    <if test="regionInfo != null and regionInfo != ''">
        and (region_name like CONCAT('%',#{regionInfo,jdbcType=VARCHAR},'%') 
        or region_code like CONCAT('%',#{regionInfo,jdbcType=VARCHAR},'%') 
        or region_cn_name like CONCAT('%',#{regionInfo,jdbcType=VARCHAR},'%')) 
	</if>
	order by region_name asc
  </select>
</mapper>