<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkrent.business.dao.BgMenuMapper">
  <resultMap id="BaseResultMap" type="com.wkrent.common.entity.BgMenu">
    <id column="bg_memu_id" jdbcType="VARCHAR" property="bgMemuId" />
    <result column="bg_menu_name" jdbcType="VARCHAR" property="bgMenuName" />
    <result column="bg_menu_icon" jdbcType="VARCHAR" property="bgMenuIcon" />
    <result column="bg_menu_url" jdbcType="VARCHAR" property="bgMenuUrl" />
    <result column="bg_menu_parent_id" jdbcType="VARCHAR" property="bgMenuParentId" />
    <result column="bg_menu_type" jdbcType="CHAR" property="bgMenuType" />
    <result column="bg_menu_sort" jdbcType="VARCHAR" property="bgMenuSort" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
    <result column="is_active" jdbcType="CHAR" property="isActive" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    bg_memu_id, bg_menu_name, bg_menu_icon, bg_menu_url, bg_menu_parent_id, bg_menu_type, 
    bg_menu_sort, is_delete, is_active, description, create_by, create_time, update_by, 
    update_time, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bg_menu
    where bg_memu_id = #{bgMemuId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bg_menu
    where bg_memu_id = #{bgMemuId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wkrent.common.entity.BgMenu">
    insert into bg_menu (bg_memu_id, bg_menu_name, bg_menu_icon, 
      bg_menu_url, bg_menu_parent_id, bg_menu_type, 
      bg_menu_sort, is_delete, is_active, 
      description, create_by, create_time, 
      update_by, update_time, remark
      )
    values (#{bgMemuId,jdbcType=VARCHAR}, #{bgMenuName,jdbcType=VARCHAR}, #{bgMenuIcon,jdbcType=VARCHAR}, 
      #{bgMenuUrl,jdbcType=VARCHAR}, #{bgMenuParentId,jdbcType=VARCHAR}, #{bgMenuType,jdbcType=CHAR}, 
      #{bgMenuSort,jdbcType=VARCHAR}, #{isDelete,jdbcType=CHAR}, #{isActive,jdbcType=CHAR}, 
      #{description,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wkrent.common.entity.BgMenu">
    insert into bg_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bgMemuId != null">
        bg_memu_id,
      </if>
      <if test="bgMenuName != null">
        bg_menu_name,
      </if>
      <if test="bgMenuIcon != null">
        bg_menu_icon,
      </if>
      <if test="bgMenuUrl != null">
        bg_menu_url,
      </if>
      <if test="bgMenuParentId != null">
        bg_menu_parent_id,
      </if>
      <if test="bgMenuType != null">
        bg_menu_type,
      </if>
      <if test="bgMenuSort != null">
        bg_menu_sort,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bgMemuId != null">
        #{bgMemuId,jdbcType=VARCHAR},
      </if>
      <if test="bgMenuName != null">
        #{bgMenuName,jdbcType=VARCHAR},
      </if>
      <if test="bgMenuIcon != null">
        #{bgMenuIcon,jdbcType=VARCHAR},
      </if>
      <if test="bgMenuUrl != null">
        #{bgMenuUrl,jdbcType=VARCHAR},
      </if>
      <if test="bgMenuParentId != null">
        #{bgMenuParentId,jdbcType=VARCHAR},
      </if>
      <if test="bgMenuType != null">
        #{bgMenuType,jdbcType=CHAR},
      </if>
      <if test="bgMenuSort != null">
        #{bgMenuSort,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=CHAR},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=CHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wkrent.common.entity.BgMenu">
    update bg_menu
    <set>
      <if test="bgMenuName != null">
        bg_menu_name = #{bgMenuName,jdbcType=VARCHAR},
      </if>
      <if test="bgMenuIcon != null">
        bg_menu_icon = #{bgMenuIcon,jdbcType=VARCHAR},
      </if>
      <if test="bgMenuUrl != null">
        bg_menu_url = #{bgMenuUrl,jdbcType=VARCHAR},
      </if>
      <if test="bgMenuParentId != null">
        bg_menu_parent_id = #{bgMenuParentId,jdbcType=VARCHAR},
      </if>
      <if test="bgMenuType != null">
        bg_menu_type = #{bgMenuType,jdbcType=CHAR},
      </if>
      <if test="bgMenuSort != null">
        bg_menu_sort = #{bgMenuSort,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=CHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where bg_memu_id = #{bgMemuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wkrent.common.entity.BgMenu">
    update bg_menu
    set bg_menu_name = #{bgMenuName,jdbcType=VARCHAR},
      bg_menu_icon = #{bgMenuIcon,jdbcType=VARCHAR},
      bg_menu_url = #{bgMenuUrl,jdbcType=VARCHAR},
      bg_menu_parent_id = #{bgMenuParentId,jdbcType=VARCHAR},
      bg_menu_type = #{bgMenuType,jdbcType=CHAR},
      bg_menu_sort = #{bgMenuSort,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=CHAR},
      is_active = #{isActive,jdbcType=CHAR},
      description = #{description,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where bg_memu_id = #{bgMemuId,jdbcType=VARCHAR}
  </update>
</mapper>