<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkrent.business.dao.BgMerchantMapper">
  <resultMap id="BaseResultMap" type="com.wkrent.common.entity.BgMerchant">
    <id column="bg_merchant_id" jdbcType="VARCHAR" property="bgMerchantId" />
    <result column="bg_merchant_number" jdbcType="VARCHAR" property="bgMerchantNumber" />
    <result column="bg_merchant_code" jdbcType="VARCHAR" property="bgMerchantCode" />
    <result column="bg_merchant_name" jdbcType="VARCHAR" property="bgMerchantName" />
    <result column="bg_merchant_address" jdbcType="VARCHAR" property="bgMerchantAddress" />
    <result column="bg_merchant_phone" jdbcType="VARCHAR" property="bgMerchantPhone" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
    <result column="is_active" jdbcType="CHAR" property="isActive" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    bg_merchant_id, bg_merchant_number, bg_merchant_code, bg_merchant_name, bg_merchant_address, 
    bg_merchant_phone, is_delete, is_active, description, create_by, create_time, update_by, 
    update_time, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bg_merchant
    where bg_merchant_id = #{bgMerchantId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bg_merchant
    where bg_merchant_id = #{bgMerchantId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wkrent.common.entity.BgMerchant">
    insert into bg_merchant (bg_merchant_id, bg_merchant_number, bg_merchant_code, 
      bg_merchant_name, bg_merchant_address, bg_merchant_phone, 
      is_delete, is_active, description, 
      create_by, create_time, update_by, 
      update_time, remark)
    values (#{bgMerchantId,jdbcType=VARCHAR}, #{bgMerchantNumber,jdbcType=VARCHAR}, #{bgMerchantCode,jdbcType=VARCHAR}, 
      #{bgMerchantName,jdbcType=VARCHAR}, #{bgMerchantAddress,jdbcType=VARCHAR}, #{bgMerchantPhone,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=CHAR}, #{isActive,jdbcType=CHAR}, #{description,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wkrent.common.entity.BgMerchant">
    insert into bg_merchant
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bgMerchantId != null">
        bg_merchant_id,
      </if>
      <if test="bgMerchantNumber != null">
        bg_merchant_number,
      </if>
      <if test="bgMerchantCode != null">
        bg_merchant_code,
      </if>
      <if test="bgMerchantName != null">
        bg_merchant_name,
      </if>
      <if test="bgMerchantAddress != null">
        bg_merchant_address,
      </if>
      <if test="bgMerchantPhone != null">
        bg_merchant_phone,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bgMerchantId != null">
        #{bgMerchantId,jdbcType=VARCHAR},
      </if>
      <if test="bgMerchantNumber != null">
        #{bgMerchantNumber,jdbcType=VARCHAR},
      </if>
      <if test="bgMerchantCode != null">
        #{bgMerchantCode,jdbcType=VARCHAR},
      </if>
      <if test="bgMerchantName != null">
        #{bgMerchantName,jdbcType=VARCHAR},
      </if>
      <if test="bgMerchantAddress != null">
        #{bgMerchantAddress,jdbcType=VARCHAR},
      </if>
      <if test="bgMerchantPhone != null">
        #{bgMerchantPhone,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=CHAR},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=CHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wkrent.common.entity.BgMerchant">
    update bg_merchant
    <set>
      <if test="bgMerchantNumber != null">
        bg_merchant_number = #{bgMerchantNumber,jdbcType=VARCHAR},
      </if>
      <if test="bgMerchantCode != null">
        bg_merchant_code = #{bgMerchantCode,jdbcType=VARCHAR},
      </if>
      <if test="bgMerchantName != null">
        bg_merchant_name = #{bgMerchantName,jdbcType=VARCHAR},
      </if>
      <if test="bgMerchantAddress != null">
        bg_merchant_address = #{bgMerchantAddress,jdbcType=VARCHAR},
      </if>
      <if test="bgMerchantPhone != null">
        bg_merchant_phone = #{bgMerchantPhone,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=CHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where bg_merchant_id = #{bgMerchantId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wkrent.common.entity.BgMerchant">
    update bg_merchant
    set bg_merchant_number = #{bgMerchantNumber,jdbcType=VARCHAR},
      bg_merchant_code = #{bgMerchantCode,jdbcType=VARCHAR},
      bg_merchant_name = #{bgMerchantName,jdbcType=VARCHAR},
      bg_merchant_address = #{bgMerchantAddress,jdbcType=VARCHAR},
      bg_merchant_phone = #{bgMerchantPhone,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=CHAR},
      is_active = #{isActive,jdbcType=CHAR},
      description = #{description,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where bg_merchant_id = #{bgMerchantId,jdbcType=VARCHAR}
  </update>
</mapper>