<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkrent.business.dao.BgRoleAuthMapper">
  <resultMap id="BaseResultMap" type="com.wkrent.common.entity.BgRoleAuth">
    <id column="bg_role_auth_id" jdbcType="VARCHAR" property="bgRoleAuthId" />
    <result column="bg_role_id" jdbcType="VARCHAR" property="bgRoleId" />
    <result column="bg_menu_id" jdbcType="VARCHAR" property="bgMenuId" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    bg_role_auth_id, bg_role_id, bg_menu_id, is_delete, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bg_role_auth
    where bg_role_auth_id = #{bgRoleAuthId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bg_role_auth
    where bg_role_auth_id = #{bgRoleAuthId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wkrent.common.entity.BgRoleAuth">
    insert into bg_role_auth (bg_role_auth_id, bg_role_id, bg_menu_id, 
      is_delete, remark)
    values (#{bgRoleAuthId,jdbcType=VARCHAR}, #{bgRoleId,jdbcType=VARCHAR}, #{bgMenuId,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wkrent.common.entity.BgRoleAuth">
    insert into bg_role_auth
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bgRoleAuthId != null">
        bg_role_auth_id,
      </if>
      <if test="bgRoleId != null">
        bg_role_id,
      </if>
      <if test="bgMenuId != null">
        bg_menu_id,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bgRoleAuthId != null">
        #{bgRoleAuthId,jdbcType=VARCHAR},
      </if>
      <if test="bgRoleId != null">
        #{bgRoleId,jdbcType=VARCHAR},
      </if>
      <if test="bgMenuId != null">
        #{bgMenuId,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wkrent.common.entity.BgRoleAuth">
    update bg_role_auth
    <set>
      <if test="bgRoleId != null">
        bg_role_id = #{bgRoleId,jdbcType=VARCHAR},
      </if>
      <if test="bgMenuId != null">
        bg_menu_id = #{bgMenuId,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where bg_role_auth_id = #{bgRoleAuthId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wkrent.common.entity.BgRoleAuth">
    update bg_role_auth
    set bg_role_id = #{bgRoleId,jdbcType=VARCHAR},
      bg_menu_id = #{bgMenuId,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where bg_role_auth_id = #{bgRoleAuthId,jdbcType=VARCHAR}
  </update>
</mapper>