<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkrent.business.app.rent.dao.RentRoomDao">
  <resultMap id="BaseResultMap" type="com.wkrent.common.entity.BgRoom">
    <id column="bg_room_id" jdbcType="VARCHAR" property="bgRoomId" />
    <result column="bg_room_number" jdbcType="VARCHAR" property="bgRoomNumber" />
    <result column="bg_room_name" jdbcType="VARCHAR" property="bgRoomName" />
    <result column="bg_room_address_country" jdbcType="VARCHAR" property="bgRoomAddressCountry" />
    <result column="bg_room_address_city" jdbcType="VARCHAR" property="bgRoomAddressCity" />
    <result column="bg_room_address_detail" jdbcType="VARCHAR" property="bgRoomAddressDetail" />
    <result column="bg_room_address_x" jdbcType="DOUBLE" property="bgRoomAddressX" />
    <result column="bg_room_address_y" jdbcType="DOUBLE" property="bgRoomAddressY" />
    <result column="bg_room_price" jdbcType="DOUBLE" property="bgRoomPrice" />
    <result column="bg_room_price_unit" jdbcType="VARCHAR" property="bgRoomPriceUnit" />
    <result column="bg_room_status" jdbcType="VARCHAR" property="bgRoomStatus" />
    <result column="bg_room_max_appoint_num" jdbcType="TINYINT" property="bgRoomMaxAppointNum" />
    <result column="bg_room_recommend" jdbcType="CHAR" property="bgRoomRecommend" />
    <result column="bg_room_tips" jdbcType="VARCHAR" property="bgRoomTips" />
    <result column="bg_room_merchant_id" jdbcType="VARCHAR" property="bgRoomMerchantId" />
    <result column="bg_room_property" jdbcType="VARCHAR" property="bgRoomProperty" />
    <result column="bg_room_type" jdbcType="VARCHAR" property="bgRoomType" />
    <result column="bg_room_detail" jdbcType="VARCHAR" property="bgRoomDetail" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    bg_room_id, bg_room_number, bg_room_name, bg_room_address_country, bg_room_address_city, 
    bg_room_address_detail, bg_room_address_x, bg_room_address_y, bg_room_price, bg_room_price_unit, 
    bg_room_status, bg_room_max_appoint_num, bg_room_recommend, bg_room_tips, bg_room_merchant_id, 
    bg_room_property, bg_room_type, bg_room_detail, is_delete, description, create_by, 
    create_time, update_by, update_time, remark
  </sql>
  <select id="getRentRoomListByPager" parameterType="com.wkrent.business.app.rent.obj.RentRoomCondition" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bg_room
    where is_delete = '0' and bg_room_status = '1' 
	<if test="recommend != null and recommend != ''">
	  and bg_room_recommend = #{recommend,jdbcType=CHAR} 
	</if>
	<if test="minPrice != null and minPrice != '' and maxPrice != null and maxPrice != ''">
	  and bg_room_price &gt;= #{minPrice,jdbcType=DOUBLE} and bg_room_price &lt;= #{maxPrice,jdbcType=DOUBLE} 
	</if>
	<if test="roomType != null and roomType != ''">
	  and bg_room_type = #{roomType,jdbcType=VARCHAR}
	</if>
	
	<if test='(timeSort == null or timeSort == "") and "0" eq priceSort'>
	  order by bg_room_price asc 
	</if>
	<if test='(timeSort == null or timeSort == "") and "1" eq priceSort'>
	  order by bg_room_price desc 
	</if>
	<if test='"0" eq priceSort and "0" eq timeSort'>
	  order by bg_room_price asc, update_time asc 
	</if>
	<if test='"1" eq priceSort and "0" eq timeSort'>
	  order by bg_room_price desc, update_time asc 
	</if>
	<if test='"0" eq priceSort and "1" eq timeSort'>
	  order by bg_room_price asc, update_time desc 
	</if>
	<if test='"1" eq priceSort and "1" eq timeSort'>
	  order by bg_room_price desc, update_time desc 
	</if>
	<if test='(priceSort == null or priceSort == "") and "0" eq timeSort'>
	  order by update_time asc 
	</if>
	<if test='(priceSort == null or priceSort == "") and "1" eq timeSort'>
	  order by update_time desc 
	</if>
	limit #{startIndex,jdbcType=INTEGER}, #{endIndex,jdbcType=INTEGER} 
  </select>
  
  <select id="getRentRoomCount" parameterType="com.wkrent.business.app.rent.obj.RentRoomCondition" resultType="java.lang.Integer">
    select count(1) 
    from bg_room 
    where is_delete = '0' and bg_room_status = '1' 
	<if test="recommend != null and recommend != ''">
	  and bg_room_recommend = #{recommend,jdbcType=CHAR} 
	</if>
	<if test="minPrice != null and minPrice != '' and maxPrice != null and maxPrice != ''">
	  and bg_room_price &gt;= #{minPrice,jdbcType=DOUBLE} and bg_room_price &lt;= #{maxPrice,jdbcType=DOUBLE} 
	</if>
    <if test="roomType != null and roomType != ''">
      and bg_room_type = #{roomType,jdbcType=VARCHAR}
    </if>
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bg_room
    where bg_room_id = #{bgRoomId,jdbcType=VARCHAR} and is_delete = '0'
  </select>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.wkrent.common.entity.BgRoom">
    update bg_room
    <set>
      <if test="bgRoomNumber != null">
        bg_room_number = #{bgRoomNumber,jdbcType=VARCHAR},
      </if>
      <if test="bgRoomName != null">
        bg_room_name = #{bgRoomName,jdbcType=VARCHAR},
      </if>
      <if test="bgRoomAddressCountry != null">
        bg_room_address_country = #{bgRoomAddressCountry,jdbcType=VARCHAR},
      </if>
      <if test="bgRoomAddressCity != null">
        bg_room_address_city = #{bgRoomAddressCity,jdbcType=VARCHAR},
      </if>
      <if test="bgRoomAddressDetail != null">
        bg_room_address_detail = #{bgRoomAddressDetail,jdbcType=VARCHAR},
      </if>
      <if test="bgRoomAddressX != null">
        bg_room_address_x = #{bgRoomAddressX,jdbcType=DOUBLE},
      </if>
      <if test="bgRoomAddressY != null">
        bg_room_address_y = #{bgRoomAddressY,jdbcType=DOUBLE},
      </if>
      <if test="bgRoomPrice != null">
        bg_room_price = #{bgRoomPrice,jdbcType=DOUBLE},
      </if>
      <if test="bgRoomPriceUnit != null">
        bg_room_price_unit = #{bgRoomPriceUnit,jdbcType=VARCHAR},
      </if>
      <if test="bgRoomStatus != null">
        bg_room_status = #{bgRoomStatus,jdbcType=VARCHAR},
      </if>
      <if test="bgRoomMaxAppointNum != null">
        bg_room_max_appoint_num = #{bgRoomMaxAppointNum,jdbcType=TINYINT},
      </if>
      <if test="bgRoomRecommend != null">
        bg_room_recommend = #{bgRoomRecommend,jdbcType=CHAR},
      </if>
      <if test="bgRoomTips != null">
        bg_room_tips = #{bgRoomTips,jdbcType=VARCHAR},
      </if>
      <if test="bgRoomMerchantId != null">
        bg_room_merchant_id = #{bgRoomMerchantId,jdbcType=VARCHAR},
      </if>
      <if test="bgRoomProperty != null">
        bg_room_property = #{bgRoomProperty,jdbcType=VARCHAR},
      </if>
      <if test="bgRoomType != null">
        bg_room_type = #{bgRoomType,jdbcType=VARCHAR},
      </if>
      <if test="bgRoomDetail != null">
        bg_room_detail = #{bgRoomDetail,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where bg_room_id = #{bgRoomId,jdbcType=VARCHAR}
  </update>
</mapper>